@model PaginatedData<InstructorCourseMV>
@using Examination.PL.General;

@{
    Layout = null;


}


<input type="hidden" id="totalCount" value="@Model.TotalCount" />
<table class="table data-table table-bordered table-hover mt-2">
    <thead>
        <tr>

            <th scope="col">Branch</th>
            <th scope="col" class="sort-arrows">Department</th>
            <th scope="col" class="sort-arrows">Course</th>
            <th scope="col">Capacity</th>
            <th scope="col">Passed</th>
            <th scope="col">Failed</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count() == 0)
        {
            <tr>
                <td colspan="6" class=" alert-info text-center">No Courses found</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                var finalPassed = item.FinalPassedStudentCount ?? 0;
                var correctivePassed = item.CorrectivePassedStudentCount ?? 0;
                var totalPassed = finalPassed + correctivePassed;
                var totalStudents = item.TotalStudents ?? 0;
                var failed = totalStudents - totalPassed;

               
                <tr>
                        <td>@item.DepartmentBranch.Branch.Name</td>
                        <td>@item.DepartmentBranch.Department.Name</td>
                        <td>@item.Course.Name</td>
                        <td>@totalStudents</td>
                    <td>@totalPassed</td>
                    <td>@failed</td>
                    <td>@Enum.GetName(typeof(CourseStatus), item.IsCompleted??0)</td>
                        <td>
                        <button onclick="InstructorCourse.CompleteCourse(@item.DepartmentBranchId, @item.CourseId)" class="btn btn-Results rounded-0" >Complete Course</button>
                        </td>
                        
                    </tr>

            }
        }



    </tbody>
</table>



