@model PaginatedData<BranchMV>
@using Examination.PL.General;

@{
    Layout = null;

}
<input type="hidden" id="TotalCount" value="@Model.TotalCount" />
<table class="table data-table table-bordered table-hover mt-2">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Location</th>   
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count() == 0)
        {
            <tr>
                <td colspan="6" class=" alert-info text-center">No data found</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                <tr>

                    <td>@item?.Name</td>
                    <td>@item?.Location</td>
                    <td class="@((item?.Status==(int)Status.Active)?"text-success":"text-danger")">@Enum.GetName(typeof(Status), item?.Status)</td>
                    <td class="actions-cell">
                        @* <a href="#" onclick="AdminInstructor.ShowAddUpdateModal(@item.Id)"><i class="bi bi-pencil"></i></a> *@
                        @* @if (item.User.Status == (int)Status.Active) *@
                        @* { *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Inactive))"><i class="bi bi-x-circle"></i></a> *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Deleted))" class="delete-icon"><i class="bi bi-trash"></i></a> *@
                        @* } *@
                        @* else if (item.User.Status == (int)Status.Inactive) *@
                        @* { *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Active))"> *@
                        @*         <i class="bi bi-check-circle"></i> *@

                        @*     </a> *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Deleted))" class="delete-icon"><i class="bi bi-trash"></i></a> *@
                        @* } *@
                        @* else if (item.User.Status == (int)Status.Deleted) *@
                        @* { *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Inactive))"> *@
                        @*         <i class="bi bi-x-circle"></i> *@

                        @*     </a> *@
                        @*     <a href="#" onclick="AdminInstructor.ChangeStatus(@item.Id, @((int)Status.Active))"> *@
                        @*         <i class="bi bi-check-circle"></i> *@

                        @*     </a> *@
                        @* } *@
                    </td>
                </tr>

            }
        }



    </tbody>
</table>



