@model PaginatedData<StudentMV>
@using Examination.PL.General;

@{
    Layout = null;

}
<input type="hidden" id="totalCount" value="@Model.TotalCount" />
<table class="table data-table table-bordered table-hover mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col" class="sort-arrows">
                tracktype

            </th>
            <th scope="col" class="sort-arrows">
                Department

            </th>
            <th scope="col">Branch</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count() == 0)
        {
            <tr>
                <td colspan="6" class=" alert-info text-center">No data found</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.User.FirstName</td>
                    <td> @Enum.GetName(typeof(TrackType),item.TrackType)</td>
                    <td>@item.DepartmentBranch.Department.Name</td>
                    <td>@item.DepartmentBranch.Branch.Name</td>
                    <td class="actions-cell">
                        <a href="#"><i class="bi bi-pencil"></i></a>
                        <a href="#" class="delete-icon"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>

            }
        }



    </tbody>
</table>



