@using Examination.PL.General;
@model PaginatedData<DepartmentMV>
@{
    Layout = null;
}

<input type="hidden" id="totalCount" value="@Model.TotalCount" />

<table class="table data-table table-bordered table-hover mt-2">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Branches</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null && Model.Items.Any())
        {
            int index = 1 + (Model.CurrentPage - 1) * Model.PageSize;
            foreach (var dept in Model.Items)
            {
                <tr>
                    <td>@index</td>
                    <td>@dept.Name</td>
                    <td>@dept.Capacity</td>
                    <td>
                        @if (dept.BranchNames != null && dept.BranchNames.Any())
                        {
                            @string.Join(", ", dept.BranchNames)
                        }

                        else
                        {
                            <span class="text-muted">Unknown</span>
                        }
                    </td>
                    <td>
                        @if (dept.Status == (int)Status.Active)
                        {
                            <span class="badge text-success">Active</span>
                        }
                        else if (dept.Status == (int)Status.Inactive)
                        {
                            <span class="badge text-danger">Inactive</span>
                        }
                        else
                        {
                            <span class="badge  text-secondary">Unknown</span>
                        }
                    </td>
                  


                    <td class="actions-cell">
                        <a href="javascript:void(0);" onclick="AdminDepartment.ShowAddUpdateModal(@dept.Id);">
                            <i class="bi bi-pencil"></i>
                        </a>

                        @if (dept.Status != (int)Status.Deleted)
                        {
                            <a href="javascript:void(0);" onclick="AdminDepartment.ChangeStatus(@dept.Id, @((int)Status.Deleted))" class="delete-icon">
                                <i class="bi bi-trash"></i>
                            </a>
                        }

                        @if (dept.Status != (int)Status.Inactive)
                        {
                            <a href="javascript:void(0);" onclick="AdminDepartment.ChangeStatus(@dept.Id, @((int)Status.Inactive))" class="inactive-icon">
                                <i class="bi bi-x-circle"></i>
                            </a>
                        }

                        @if (dept.Status != (int)Status.Active)
                        {
                            <a href="javascript:void(0);" onclick="AdminDepartment.ChangeStatus(@dept.Id, @((int)Status.Active))" class="active-icon">
                                <i class="bi bi-check-circle"></i>
                            </a>
                        }
                    </td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center text-muted">No departments found.</td>
            </tr>
        }
    </tbody>
</table>


