@model CourseMV
@using Examination.PL.General

@{

    Layout = null;

    SelectList DeptsList = new SelectList(ViewBag.Departments, "Id", "Name");
    SelectList TopicList = new SelectList(ViewBag.Topics, "Id", "Name");
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<form id="admin-Course-form" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="modal-body mx-3">

        <h5 class="mb-3" style="border-bottom: 2px solid var(--primary-color); padding-bottom: 5px; color:var(--primary-color)">Main Info</h5>
        <div class="row">

            <div class="col-md-6 mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" class="form-control rounded-0 mb-1" id="Name" asp-for="Name" placeholder="Enter Course Name" required>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>



            @*             <div class="col-md-4 mb-3">
                <label for="Status" class="form-label">Status</label>
                <input type="Status" class="form-control rounded-0 mb-1" id="email" asp-for="Status" placeholder="Enter Course Status" required>
                <span asp-validation-for="Status" class="text-danger"></span>
                  <input type="Status" class="form-control rounded-0 mb-1" id="email" asp-for="Status" placeholder="Enter Course Status" required>
            </div> *@


            @*             <div class="col-md-4 mb-3">
                <label for="Status" class="form-label">Status</label>
                <select asp-for="Status" class="form-control" required>
                    <option value="0">Select Status</option>
                    <option value="@((int)Status.Active)">@Status.Active.ToString()</option>
                    <option value="@((int)Status.Inactive)">@Status.Inactive.ToString()</option>
                    <option value="@((int)Status.Deleted)">@Status.Deleted.ToString()</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@

            <div class="col-md-6 mb-3">
                <label for="Hours" class="form-label">Hours</label>
                <input type="number" min="1" class="form-control rounded-0 mb-1" value="@(Model.Hours)" id="Hours" asp-for="Hours" placeholder="Enter Course Hours" required>
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <!-- Description -->
            <div class="col-md-6 mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea type="text" rows="10" style="width: 100%; resize:vertical;min-height:100px" class="form-control rounded-0 mb-1" id="Description" asp-for="Description" placeholder="Enter Course Description" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>



            <div class="col-md-6 mb-3">
                <label for="depts" class="form-label">Departments</label>
                <select asp-for="DepartmentsIds" asp-items="@DeptsList" class="form-select" style="min-height:100px" required multiple>
                    <option value="0">Select Departments</option>
                </select>
                <span asp-validation-for="DepartmentsIds" class="text-danger"></span>
            </div>





            @*   <div class="col-md-12 mb-3">
                <label for="id_label_multiple" class="form-label">Departments</label>


                <select asp-for="DepartmentsIds"
                        asp-items="@DeptsList"
                        id="id_label_multiple"
                        class="form-control select2-multiple"
                        style="min-height:100px"
                        multiple
                        required>
                    <!-- No default option needed for multi-select -->
                    <option value="0">Select Department0</option>
                    <option value="1">Select Department1</option>
                    <option value="2">Select Department2</option>
                </select>


                <small class="form-text text-muted">select multiple departments</small>
                <span asp-validation-for="DepartmentsIds" class="text-danger"></span>
            </div> *@


        </div>




        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Topics" class="form-label">Topics</label>
                <select asp-for="TopicsIds" asp-items="@TopicList" class="form-select" style="min-height:100px" required multiple>
                    <option value="0">Select Topics</option>
                </select>
                <span asp-validation-for="DepartmentsIds" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="mb-3">
                <!-- Hidden File Input -->
                <input class="form-control" type="file" id="ImgFile" asp-for="ImgFile" style="display: none;">
                <input type="hidden" asp-for="ImgUrl" src="~/public/courses" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>

                <!-- Add Image Button -->
                <button type="button" id="addImageButton" class="btn btn-primary btn-sm rounded-0">+ Add Image</button>
            </div>

            <div class="mt-2">
                <!-- Image Preview -->
                <!-- Image Preview -->
                <img id="imgPreview"
                     src=" @(string.IsNullOrEmpty(Model.ImgUrl) ? "#" :Url.Content("~/public/courses/"+Model.ImgUrl))"
                     alt="Image Preview"
                     style="@(string.IsNullOrEmpty(Model.ImgUrl) ? "display:none;" : "display:block;") max-width: 30%; height: auto; border: 1px solid #ddd; padding: 5px; cursor: pointer;" />
            </div>
        </div>


    </div>

    <partial name="_ValidationScriptsPartial" />

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn advanced-search-btn" onclick="Courses.AddUpdata(event)">Save Data</button>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
     $(document).ready(function () {
        var img= "@Model.ImgUrl";
         if (img == "" || img == null) {
        // Show the 'Add Image' button if no image is present
        $('#addImageButton').show();
    } else {
        // Hide the 'Add Image' button if image URL is available
        $('#addImageButton').hide();
    }
        $('#addImageButton').click(function () {
            $('#ImgFile').click();
        });

        $('#ImgFile').change(function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result).show();
                    $('#addImageButton').hide();
                }
                reader.readAsDataURL(file);
            }
        });

        $('#imgPreview').click(function () {
            $(this).attr('src', '#').hide();
            $('#ImgFile').val('');
            $('#addImageButton').show();
        });
    });

</script>




