@using System.Text.Json

@{
    Layout = null;
    OnGoingExamMV exam = ViewBag.Exam as OnGoingExamMV;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Examination Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/exam.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5" style="padding-top:60px" id="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mb-4">@exam.ExamTitle</h1>
                <p>Start Time: @exam.StartTime.ToString("hh:mm:tt")  | End Time: @exam.EndTime.ToString("hh:mm:tt") | Duration: @exam.Duration Minutes</p>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3>Questions</h3>
                    <button class="btn butn rounded-0">Time Left: <span id="time">60:00</span></button>
                </div>

                <div class="progress mb-4">
                    <div class="progress-bar rounded-0" id="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div id="question-container"> </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/student/Exams.js"></script>
    <script>
        $(document).ready(function(){
                   StudentExam.questions= @Html.Raw(Json.Serialize(exam.Questions))
                   StudentExam.totalTime=@Html.Raw(Json.Serialize(exam.Duration))
                   StudentExam.GeneratedExamId = @Html.Raw(Json.Serialize(exam.GeneratedExamId))
                   //console.log(StudentExam.totalTime);
                  // debugger;
                    var endTimeString = '@exam.EndTime.ToString("yyyy-MM-ddTHH:mm:ss")';
                    var endTime = new Date(endTimeString);
                    var currentTime = new Date();
                    var timeDifference = endTime - currentTime;
                    var secondsLeft = timeDifference  / 1000;
                    var container = document.getElementById("container");
                     if(timeDifference<=0){
                         container.innerHTML = "";
                         container.innerHTML = `<h2 style="color: red;" class="text-center">Time's up! Please check your PC clock.</h2>`;

                     }else{
                   StudentExam.timeLeft =secondsLeft;
                   StudentExam.loadQuestion(1);
                   timer = setInterval(StudentExam.updateTimer, 1000);
                   console.log( StudentExam.GeneratedExamId);

                     }

        });
    </script>

</body>
</html>
