@functions {
    public string IsActive(string area, string controller, string action = null)
    {
        var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        bool isActive = (currentArea == area) && (currentController == controller) &&
                        (action == null || currentAction == action);

        return isActive ? "active" : "";
    }
}


<nav class="sidebar p-2" id="sidebar">
    <div class="d-flex justify-content-between align-items-center sidebar-header mb-4">
        <h2 class="fs-4 mb-0">QwikTest</h2>
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="bi bi-list"></i>
        </button>
    </div>

    <ul class="nav flex-column mt-3">
        <!-- Calender -->
        <li class="nav-item">
            <a  asp-controller="Student" asp-action="Index" asp-area="Admin" class="sidebar-link nav-link text-white rounded-0 @IsActive("Admin","Student","Index")">
                <i class="bi bi-person"></i> <span class="ms-2">Students</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a asp-controller="Instructor" asp-action="Index" asp-area="Admin" class="sidebar-link nav-link text-white rounded-0 @IsActive("Admin","Instructor","Index")">
                <i class="bi bi-person"></i> <span class="ms-2">Instructors</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a asp-controller="Exam" asp-action="Index" asp-area="Admin" class="sidebar-link nav-link text-white rounded-0 @IsActive("Admin","Exam","Index")">
                <i class="bi bi-journal-text"></i> <span class="ms-2">Exams</span>
            </a>
        </li>
        <li class="nav-item mt-2">
            <a asp-controller="ExamQuestion" asp-action="Index" asp-area="Admin" class="sidebar-link nav-link text-white rounded-0 @IsActive("Admin","ExamQuestion","Index")">
                <i class="bi bi-question-square"></i> <span class="ms-2">ExamQuestions</span>
            </a>
        </li>

        <li class="nav-item mt-2">
            <a asp-controller="Course" asp-action="Index" asp-area="Admin" class="sidebar-link nav-link text-white rounded-0 @IsActive("Admin","Course","Index")">
                <i class="bi bi-journals"></i> <span class="ms-2">Courses</span>
            </a>
        </li>
           
        <!-- Courses -->
     @*    <li class="nav-item">
            <a href="courses.html" class="nav-link text-white">
                <i class="bi bi-book"></i> <span class="ms-2">Courses</span>
            </a>
        </li> *@
        <!-- Exams -->
      @*   <li class="nav-item">
            <a href="" class="nav-link text-white d-flex align-items-center" data-bs-toggle="collapse"
               data-bs-target="#examDropdown" aria-expanded="false">
                <i class="bi bi-pencil"></i> <span class="ms-2">Exams</span>
                <span class="ms-auto dropdown-icons">
                    <i class="bi bi-caret-down-fill down-icon"></i>
                    <i class="bi bi-caret-up-fill up-icon"></i>
                </span>
            </a>
            <ul class="collapse list-unstyled ms-4" id="examDropdown">
                <li><a href="ComingExam.html" class="nav-link text-white">Coming Exams</a></li>
                <li><a href="previous.html" class="nav-link text-white">Previous Exams</a></li>
            </ul>
        </li> *@
    </ul>
</nav>